body{
    margin: 0;
    padding: 0;
    background: #cac6cd;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

#logo{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

img {
    max-width: 15%;
    height: 15%;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b0adb4;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 5px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

#logout {
    color: darkblue;
    position: absolute;
    bottom: 30px;

}

.login-box{
    width: 320px;
    height: 300px;
    background: #ffffff;
    padding: 60px 30px;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);

}

.login-box h1{
    text-transform: uppercase;
    font-weight: 500;
    color: Black;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    width: 60%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border-radius: 30px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #00BCD4;
    font-size: 13px;
    height: 40px;
    text-align: center;
    transition: 0.27s;
}
.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus{
    width: 80%;
    border-color:#6fd653;
}

.login-box input[type="button"]{
    width: 40%;
    border: none;
    outline: none;
    background: #156DA9;
    padding: 10px 0;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-box input[type="button"]:hover{
    background:#6FD653;
    transition: .2s;
}

.login-box input[type="button"]:focus{
    transform: scaleX(1.1);
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    color: #00bcd4;
}

.login-box a:hover{
    color: #6FD653;
}